services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: sugo-web
    command: python manage.py runserver 0.0.0.0:8000
    # command: gunicorn config.wsgi:application --bind 0.0.0.0:8000

    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mailhog

  mailhog:
    image: mailhog/mailhog
    container_name: mailhog-sugo
    ports:
      - "8025:8025"
      - "1025:1025"

  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: sugo_db
      POSTGRES_USER: sugo_user
      POSTGRES_PASSWORD: sugo_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
