


<!-- Button modal - Proteccion de Datos
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#proData">🔒 Protección de tus datos</button> -->
<!-- Modales -->
<div class="modal fade" id="proData" tabindex="-1" aria-labelledby="proDataLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="proDataLabel">🛡️ Tu privacidad está protegida</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">            
            Queremos que te sientas segura desde el primer paso.
            <br>
            Los datos que ingresas en este formulario son exclusivamente para uso interno de la agencia.
            <br>
            No se comparten, no se venden, y no se usan fuera del sistema.
            <br><br>
            📌 ¿Para qué los usamos?
            <ul>
                <li>Para saber quién eres y darte el mejor acompañamiento</li>
                <li>Para asociar tu cuenta a la plataforma que elegiste</li>
                <li>Para llevar un control responsable y proteger tu acceso</li>
            </ul>
            🔐 Tu información es confidencial y está protegida.
            <br>
            Si tienes dudas, siempre puedes escribirnos. Estamos aquí para cuidarte y ayudarte.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
</div>
